node_modules
.gitattributes
package-lock.json
__pycache__
.idea
venv
config
.DS_Store
auth/firebase.json
auth/credential.json
.vscode
environ/client_environ
environ/client_environ.py
docker-compose.yml
test_coding.py
