{% extends "layout.html" %}
{% block content %}

<div id="app">
    <v-app id="inspire"
        style="font-family: 'Open Sans', sans-serif; font-family: 'Padauk', sans-serif; font-family: 'Prompt', sans-serif;">
        <br>
        <br>
        <v-card class="mx-auto">
            <v-card-text>
                <v-data-table multi-sort :search="search" :headers="headers" :items="transaction" >
                    <template v-slot:top>
                        <v-toolbar flat>

                            <v-row>
                                <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                                    hide-details></v-text-field>
                                </v-col>
                                <v-spacer></v-spacer>
                                <v-dialog v-model="dialogTable" max-width="500px">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                                            <v-icon dark>
                                                mdi-account-multiple-plus
                                            </v-icon>
                                                &nbsp;New Contact
                                        </v-btn>
                                    </template>
                                </v-dialog>
                            </v-row>



                        </v-toolbar>

                    </template>

                    <template v-slot:header.tag="{ header }">
                        <v-chip color="primary">
                            Tag
                        </v-chip>
                    </template>

                    <template v-slot:item.tag="{ item }">
                        <v-chip>
                            #[[item.tag]]
                        </v-chip>
                    </template>

                    <template v-slot:item.name="{ item }">
                        <div class="ml-5" style="margin-top: 15px; margin-bottom: 15px">
                            <h6><strong>[[item.name]]</strong></h6>
                            <span style="color: grey;">
                                [[item.email]]
                            </span>
                        </div>
                    </template>



                    <template v-slot:item.product="{ item }">

                        <v-chip class="ma-2" :color="colorProduct(item.product)" label>
                            [[item.product]]
                        </v-chip>
                    </template>

                    <template v-slot:item.actions="{ item }">
                        <v-icon small class="mr-2" color="primary">
                            mdi-pencil
                        </v-icon>
                        <v-icon small color="red">
                            mdi-delete
                        </v-icon>
                    </template>



                </v-data-table>

            </v-card-text>

        </v-card>
    </v-app>
</div>




<script>

    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            transaction: [],
            headers: [
                {
                    text: 'Tag',
                    value: 'tag',
                },
                {
                    text: 'User Info',
                    value: 'name',
                },
                {
                    text: 'Product',
                    value: 'product',
                },
                {
                    text: 'Tel',
                    value: 'tel',
                },
                {
                    text: 'Actions',
                    value: 'actions',
                    sortable: false
                }
            ],
            search: '',
            dialogTable: false,
        },
        created() {
            this.initialize();
        },
        methods: {
            colorProduct(product) {
                if (product === 'consultant') {
                    return 'red accent-1'
                }
                if (product === 'pusit') {
                    return 'blue accent-1'
                }
                if (product === 'realestate') {
                    return 'green accent-1'
                }
            },
            initialize() {
                const path = '/information/table'
                axios.get(path)
                    .then((res) => {
                        this.transaction = res.data;
                        console.log(res.data);
                    })
                    .then((err) => {
                        console.log(err);
                    })
            }
        },
        delimiters: ["[[", "]]"]
    })

</script>

{% endblock %}